
# PROJECT CONFIG
PROJECT_NAME=analightics

# POSTHRES DB CONFIG
# User for the PostgreSQL database
POSTGRES_USER=your_postgres_user
# Password for the PostgreSQL user
POSTGRES_PASSWORD=your_secure_password
# Name of the PostgreSQL database (default: analightics)
POSTGRES_DB=analightics
# External port for PostgreSQL (default: 5432)
POSTGRES_PORT_EXTERNAL=5432
# Hostname for PostgreSQL service (in Docker Compose: postgres)
POSTGRES_HOST=postgres

# KAFKA CONFIG
# External Kafka port for clients (default: 9092)
KAFKA_PORT_EXTERNAL=9092
# Internal Kafka port for inter‑broker communication (default: 29092)
KAFKA_PORT_INTERNAL=29092
# Kafka topic for raw events
EVENT_TOPIC=raw_events
# Kafka Dead Letter Queue topic for failed events
DLQ_TOPIC=events_dlq

# CLICKHOUSE CONFIG
# HTTP port for ClickHouse (default: 8123)
CLICKHOUSE_PORT=8123
# External HTTP port for ClickHouse
CLICKHOUSE_PORT_EXTERNAL=8123
# Native TCP port for ClickHouse (default: 9000)
CLICKHOUSE_NATIVE_PORT=9000
# Full table name in ClickHouse (database.table format)
CLICKHOUSE_TABLE=analightics.events
# Username for ClickHouse access
CLICKHOUSE_USER=your_clickhouse_user
# Password for ClickHouse user
CLICKHOUSE_PASSWORD=your_clickhouse_password
# Database name in ClickHouse
CLICKHOUSE_DB=analightics

# EVENT CONSUNER CONFIG
# Consumer group ID for Kafka consumer
CONSUMER_GROUP_ID=analightics_group_v1
# Auto offset reset policy (earliest/latest)
CONSUMER_AUTO_OFFSET_RESET=earliest
# Maximum number of retry attempts for failed messages
CONSUMER_MAX_RETRIES=3
# Delay between retry attempts in seconds
CONSUMER_RETRY_DELAY=2
# Number of messages to process in a batch
CONSUMER_BATCH_SIZE=1000
# Flush interval in seconds (how often to commit processed messages)
CONSUMER_FLUSH_INTERVAL=5.0

# API CONFIG
# Port for the application API server
API_PORT=8000
# API key for authentication (if required)
API_KEY=your_api_key_here